body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

main {
    /* position: relative; */
    width: auto;
    margin: 5% 5%;
}

.main-image {
    position: relative;
    line-height: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.capa {
    background: rgba(162, 0, 255, 0.3);
    line-height: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 20px 20px 0 0;
}

.card-description {
    background-color: hsl(244, 38%, 16%);
    border-radius: 0 0 20px 20px;
    padding: 0 0 1em 0;
    width: auto;
}

h1 {
    font-size: 1.8em;
    font-family: 'Lexend Deca', sans-serif;
    margin: auto;
    text-align: center;
    padding: 1em 0.8em;
}

h1 span {
    color: hsl(277, 64%, 61%);
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    margin: auto;
    text-align: center;
    padding: 0 2em 1.5em 2em;
    line-height: 1.5em;
}

h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 0;
    text-align: center;
    padding: 0.5em;
}

h2 span {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 0.5em;
    margin: 0.5em;
}

footer {
    display: flex;
    justify-content: center;
}

.attribution {
    font-size: 0.8em;
}

@media screen and (min-width: 800px) {

    main {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-description {
        padding: 0 3em 2em 3em;
        width: 40%;
        height: auto;
        order: 1;
        border-radius: 10px 0 0 10px;
    }

    .main-image {
        width: 45%;
        height: auto;
        display: inline-block;
        order: 2;
    }

    .main-image img {
        border-radius: 0 10px 10px 0;
        width: 100%;
        height: auto;
    }

    .capa {
        border-radius: 0 10px 10px 0;
    }

    .statistics-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    h1 {
        padding: 1em 0 1em 0;
        font-size: 1.3em;
        text-align: left;
    }

    p {
        padding: 0;
        font-size: 0.6em;
        text-align: left;
    }

    h2 {
        text-align: left;
        font-size: 0.9em;
        padding: 2em 2em 0 0;
        display: inline-block;
    }

    h2 span {
        margin: 0;
    }

    .attribution {
        line-height: 1.5em;
        font-size: 0.5em;
        text-align: center;
    }
}